{{ partial "header.html" . }}

<div class="markdown">{{partial "content.html" . }}</div>

<div id="featuredprojects" class="featured">
<h2>Featured projects</h2>
{{ range $i, $p := .Site.Pages }}
{{ if eq .Type "project" }}
{{ if not (eq .RelPermalink "/project/") }}
{{ if .Params.params.featured }}
{{$self := .}}
{{with .Params.params.image}}
<a href="{{$self.Permalink}}"><img src="{{$self.Permalink}}{{.}}"></a>
{{end}}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
</div>

<div id="latestdevlog" class="featured">
{{ if isset .Site.Params "latestdevlogcount" }}
    <div class="latestposts">
    {{ $all_posts := where .Site.Pages "Section" "devlog" }}
    {{ $posts := where $all_posts "RelPermalink" "!=" "/devlog/" }}
    {{ $postcount := len $posts }}
    {{ if gt $postcount 0 }}
        <h2>Latest devlogs</h2>
        {{ range (first .Site.Params.latestdevlogcount $posts)}}
            {{ partial "post-preview.html" . }}
        {{ end }}

        {{ if gt $postcount .Site.Params.latestdevlogcount }}
            <a href="./devlog/" class="see-more">See more ...</a>
        {{ end }}
    {{ end }}
    </div>
{{ end }}
</div>

<div id="latestblog" class="featured">
{{ if isset .Site.Params "latestpostcount" }}
    <div class="latestposts">
    {{ $all_posts := where .Site.Pages "Section" "blog" }}
    {{ $posts := where $all_posts "RelPermalink" "!=" "/blog/" }}
    {{ $postcount := len $posts }}
    {{ if gt $postcount 0 }}
        <h2>Latest blog posts</h2>
        {{ range (first .Site.Params.latestpostcount $posts)}}
            {{ partial "post-preview.html" . }}
        {{ end }}

        {{ if gt $postcount .Site.Params.latestpostcount }}
            <a href="./blog/" class="see-more">See more ...</a>
        {{ end }}
    {{ end }}
    </div>
{{ end }}
</div>


{{ partial "footer.html" . }}
