<div id="spinner">
<!-- <img src="{{.Site.BaseURL}}img/spin.gif" width="50" height="50"> -->
{{partial "spinner.html" . }}
</div>

<div id="footer" class="social-footer">
{{partial "social.html" . }}
</div>

</div> <!-- content -->

<!-- stolen from introduction theme -->
<script>
$('a[href^="{{ .Permalink }}#"]').click(function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').animate({
    scrollTop: $(target).offset().top
    }, 500);
    return false;
})
</script>

<script src="{{.Site.BaseURL}}external/lightbox/js/lightbox.min.js"></script>
<script src="{{.Site.BaseURL}}external/jquery.inview-1.1.2/jquery.inview.min.js"></script>

</body>
</html>
