{{$self := .}}

<div class="post">

{{ if eq .RelPermalink (printf "/%s/" .Section) }}
  <div class="title">
  <div class="header">{{.Title}}</div>
  {{if eq .RelPermalink (printf "/%s/" .Section)}}
    <a href="{{.RSSLink}}" type="application/rss+xml"><i class="fa fa-rss"></i></a>
  {{end}}
  </div>
  <div class="clear"></div>
{{ else }}
  <a href="{{.Permalink}}"><h1>{{.Title}}</h1></a>
  <p>{{.Date.Format $.Site.Params.DateFormat}}</p>
{{ end }}

{{with .Params.params.image}}
<img src="{{$self.Permalink}}{{.}}">
{{end}}

<div class="markdown">{{partial "content.html" . }}</div>

{{ if .IsNode }}
  {{with .Params.params.Photos}}
    {{$photos := . }}
    {{- $path := printf "content%s/%s" $self.RelPermalink $photos -}}
    {{- $files := readDir $path -}}
    <div class="screenshots">
        {{- range $files }}
              {{$imgurl := (printf "%s%s/%s" $self.Permalink $photos .Name ) }}
              <a href="{{$imgurl}}" data-lightbox="{{$self.Title}}" >
              <img class="screenshot" src="{{$imgurl}}" height="50" width="50">
              </a>
        {{- end }}
    </div>
  {{ end }}
{{ end }}

{{partial "project-links.html" . }}
{{partial "taglist.html" . }}

{{ if not (eq .RelPermalink (printf "/%s/" .Section)) }}
{{ partial "post-share.html" . }}
{{ end }}

</div>
