<p>{{.Date.Format $.Site.Params.DateFormat}}</p>
<a href="{{.Permalink}}"><h3>{{.Title}}</h3></a>

{{$self := .}}

<p>
Rel: {{.RelRef}}
Perma: {{.RelPermalink}}
kind: {{.Kind}}
node: {{.IsNode}}
type: {{.Type}}
section: {{.Section}}
page: {{.IsPage}}
trunc: {{.Truncated}}
rss: {{.RSSLink}}
</p>

{{with .Params.params.image}}
<img src="{{$self.Permalink}}{{.}}">
{{end}}

<p>{{.Summary}}</p>
<div class="markdown">{{partial "content.html" . }}</div>

{{ if .IsNode }}
  {{with .Params.params.Photos}}
    {{$photos := . }}
    {{- $path := printf "content%s/%s" $self.RelPermalink $photos -}}
    {{- $files := readDir $path -}}
    <div class="screenshots">
        {{- range $files }}
              {{$imgurl := (printf "%s%s/%s" $self.Permalink $photos .Name ) }}
              <a href="{{$imgurl}}" data-lightbox="{{$self.Title}}" >
              <img src="{{$imgurl}}" height="50" width="50">
              </a>
        {{- end }}
  {{ end }}
{{ end }}

{{partial "taglist.html" . }}

<hr>
