<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="external/fontawesome/css/font-awesome.min.css">
</head>

<body lang="en">

<div id="content">

<h1>{{ .Title }}</h1>
<p>
{{ range $i, $p := .Site.Pages }}
{{ if eq $p.Kind "section" }}
<!-- hack to only get the root sections, and not the sub sections -->
{{ if eq $p.RelPermalink (printf "/%s/" $p.Section) }}
<a href="{{.Permalink}}">{{.Title}}</a>
{{ end }}
{{ end }}
{{ end }}
</p>

<hr>
<hr>
