{{if $.Site.Params.InfiniteScroll}}
<script>
(function () {
  $('#spinner').hide();
  var loadPage = {{ ($.Scratch.Get "paginator").PageNumber }};
  var totalPages = {{ ($.Scratch.Get "paginator").TotalPages }};
  $('#footer').on('inview', function (event, visible, topOrBottomOrBoth) {
    if (visible == true) {
      loadPage = loadPage + 1;
      if (loadPage > totalPages) {
        $('#footer').off('inview');
        return;
      }
      $('#spinner').show();
      url = '{{ ($.Scratch.Get "page").Permalink }}page/' + loadPage + '/'
      console.log("Loading next page: " + url);
      $.get(url, function (result) {
        $('#pages').append($(result).find('#pages'));
        $('#spinner').hide();
      })
    }
  });
})();
</script>
{{end}}
