<div class="post">

<a href="{{.Permalink}}"><h2 class="preview">{{.Title}}</h2></a>
<div class="date">{{ .Date.Format $.Site.Params.DateFormat }}</div>

{{$self := .}}

{{with .Params.params.image}}
<img src="{{$self.Permalink}}{{.}}">
{{end}}

{{if .Truncated }}
<p>{{.Summary}}</p>
<p><a href="{{.Permalink}}">Read the rest...</a></p>
{{else}}
<div class="markdown">{{partial "content.html" . }}</div>
{{end}}

{{ if .IsNode }}
  {{with .Params.params.Photos}}
    {{$photos := . }}
    {{- $path := printf "content%s/%s" $self.RelPermalink $photos -}}
    {{- $files := readDir $path -}}
    <div class="screenshots">
        {{- range $files }}
              {{$imgurl := (printf "%s%s/%s" $self.Permalink $photos .Name ) }}
              <a href="{{$imgurl}}" data-lightbox="{{$self.Title}}" >
              <img src="{{$imgurl}}" height="50" width="50">
              </a>
        {{- end }}
    </div>
  {{ end }}
{{ end }}

{{partial "project-links.html" . }}
{{partial "taglist.html" . }}

</div>
