<!-- Stolen from cocoa-eh theme -->
{{ if .Site.Params.posts_navigation }}
    <div class="navigation">
      {{ if or .PrevInSection .NextInSection }}
        {{ if .PrevInSection }}
            <i class="fa fa-arrow-left"></i>
            <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
        {{ end }}
        &nbsp;{{.Title}}&nbsp;
        {{ if .NextInSection }}
            <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
            <i class="fa fa-arrow-right"></i>
        {{ end }}
      {{ end }}
    </div>
{{ end }}
