{{ partial "header.html" . }}

<div class="firstcontent">
{{partial "fullpost.html" . }}
</div>

{{$self := . }}

{{$section := .Section }}
<!-- First where only display pages matching our current section. Second where drops the _index page -->
{{ $paginator := .Paginate (where (where .Site.Pages "Section" $section) "RelPermalink" "!=" (printf "/%s/" $section)) }}

<!-- This if excludes sub sections from displaying other neighbouring sections in the same root section -->
{{ if eq .RelPermalink (printf "/%s/" .Section) }}
  <div id="pages">
    {{partial "pagenumber.html" $paginator }}
    {{ range $paginator.Pages }}
      {{partial "post-preview.html" . }}
      {{partial "to-top.html" $self }}
    {{ end }}
  </div>
  {{partial "pagination-navigation.html" . }}
{{ end }}

{{ partial "footer.html" . }}

{{ $.Scratch.Set "paginator" $paginator }}
{{ $.Scratch.Set "page" . }}
{{partial "infinite-scroll.html" . }}
