{{ partial "header.html" . }}

<div class="firstcontent">
  <div class="page-heading">Posts about {{ .Title }}</div>
</div>

{{ $paginator := .Paginate .Data.Pages.ByPublishDate }}
<div id="pages">
    {{partial "pagenumber.html" $paginator }}
    {{ range $paginator.Pages }}
        {{ partial "fullpost.html" . }}
    {{ end }}
</div>
{{partial "pagination-navigation.html" . }}

{{ partial "footer.html" . }}

{{ $.Scratch.Set "paginator" $paginator }}
{{ $.Scratch.Set "page" . }}
{{partial "infinite-scroll.html" . }}
