{
	padding: 0;
	margin: 0;
}

a:link, a:visited
{
	text-decoration: none;
}

a {
	color: blue;
	text-decoration: none;
}

div#content
{
	max-width: 805px;
	margin:auto;
	position: relative;
	display: block;
}

img, .screenshots img.screenshot
{
	max-width: 90%;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	vertical-align: middle;
}

.screenshots img.screenshot {
	padding: 3px;
}

.screenshots {
	display: inline-block;
	float: none;
}

.post img {
	display: block;
	float: none;
}

.post {
	margin-bottom: 12px;
}

.to-top {
	margin-left: auto;
  margin-right: auto;
	display: block;
	width: 6em
}

.featured {
	display: inline-block;
}
